.tabs-section .single-choose-inner {
  margin-bottom: 0;
  background: #fff;
  padding: 10px;
  -webkit-box-shadow: -3px 3px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: -3px 3px 6px 0 rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  display: flex;
  height: 100%;
}
.tabs-section .single-choose-inner .icon {
  height: 55px;
  width: 55px;
  line-height: 50px;
  text-align: center;
  background: #ff9c9c;
  background: linear-gradient(90deg, #ff9c9c 0, #e31e34 100%, #fff 100%);
  border-radius: 50% 50% 0;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-right: 20px;
  margin-top: 5px;
  font-size: 20px;
}

.cust-div .tooltip-1,
.cust-div .tooltip-2,
.cust-div .tooltip-3,
.cust-div1 .tooltip-1,
.cust-div1 .tooltip-2,
.cust-div1 .tooltip-3,
.cust-div1 .tooltip-4,
.cust-div2 .tooltip-1,
.cust-div2 .tooltip-2,
.cust-div2 .tooltip-3,
.cust-div2 .tooltip-4 {
  position: absolute;
  width: 130px;
  height: 130px;
  border-radius: 100%;
  cursor: pointer;
}

.cust-div,
.cust-div1,
.cust-div2,
.span-custom,
.span-custom i,
.tabs-section .four-div .single-choose-inner .media-left {
  position: relative;
}
.cust-div .tooltip-1 {
  top: 3%;
  left: 2%;
}
.cust-div .tooltip-2 {
  top: 4%;
  right: 11.5%;
}
.cust-div .tooltip-3 {
  bottom: 3.5%;
  left: 31%;
}
.cust-div1 .tooltip-1,
.cust-div2 .tooltip-1 {
  top: 3%;
  left: 16%;
}
.cust-div1 .tooltip-2,
.cust-div2 .tooltip-2 {
  top: 16%;
  right: 31.5%;
}
.cust-div1 .tooltip-3,
.cust-div2 .tooltip-3 {
  bottom: 24.5%;
  left: 16%;
}
.cust-div1 .tooltip-4,
.cust-div2 .tooltip-4 {
  bottom: 12.5%;
  right: 31%;
}

@media (max-width: 769px) {
  .cust-div .tooltip-1,
  .cust-div .tooltip-2,
  .cust-div .tooltip-3,
  .cust-div1 .tooltip-1,
  .cust-div1 .tooltip-2,
  .cust-div1 .tooltip-3,
  .cust-div1 .tooltip-4,
  .cust-div2 .tooltip-1,
  .cust-div2 .tooltip-2,
  .cust-div2 .tooltip-3,
  .cust-div2 .tooltip-4 {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    cursor: pointer;
  }
  .cust-div .tooltip-1 {
    top: 4%;
    left: 4%;
  }
  .cust-div .tooltip-2 {
    top: 4%;
    right: 3.5%;
  }
  .cust-div .tooltip-3 {
    bottom: 3.5%;
    left: 35%;
  }
  .cust-div1 .tooltip-1,
  .cust-div2 .tooltip-1 {
    top: 3%;
    left: 16%;
  }
  .cust-div1 .tooltip-2,
  .cust-div2 .tooltip-2 {
    top: 16%;
    right: 16.5%;
  }
  .cust-div1 .tooltip-3,
  .cust-div2 .tooltip-3 {
    bottom: 24.5%;
    right: 16%;
  }
  .cust-div1 .tooltip-4,
  .cust-div2 .tooltip-4 {
    bottom: 12.5%;
    right: 16%;
  }
}

.bgBoxTab {
  background: linear-gradient(90deg, #5948cf 0, #393185 100%, #8371ff 100%);
  color: #fff;
}
